@charset "UTF-8";
@import url("https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  width: 1355px;
  display: block;
  margin: 0 auto;
  justify-content: center;
}

h3 {
  margin: 0;
  margin-top: 16px;
}

h2 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  margin: 34px auto 24px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.SHOPCO {
  font-family: "Integral CF Bold";
  font-size: 32px;
  font-weight: bold;
  color: #000;
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.header__button {
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding: 0 24px;
}

.Frame-2 {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.Frame-3 {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 17.9px;
  min-width: 400px;
  border-radius: 62px;
  background-color: #f0f0f0;
  flex-shrink: 0;
  width: 200px;
}

.Frame3-4 {
  display: flex;
}

.Vector {
  width: 20.3px;
  height: 20.3px;
  padding: 0 15.9px;
  cursor: pointer;
}

.Frame-3__lupa {
  padding-right: 13.9px;
}

.Frame-4 {
  flex-grow: 0;
  width: 20%;
  padding: 1.9px 1.9px 1.9px 0;
  display: flex;
  align-items: center;
}

.Search-for-products {
  height: 100%;
  width: 100%;
  max-width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Satoshi";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  box-sizing: border-box;
}

/* MAIN секция */
.background-wrapper {
  background-color: #f2f0f1;
  margin-left: 40px;
}

.Rectangle-2__info {
  width: 100%;
  max-width: 577px;
  margin-top: 80px;
  padding: 0 20px;
  margin-bottom: 116px;
}

.Rectangle-2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.FIND-CLOTHES-THAT-MATCHES-YOUR-STYLE {
  font-family: "Integral CF Bold";
  font-size: 64px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 32px;
}

.description-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 545px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rectangle-2__manAndWoman {
  width: 100%;
  max-width: 580px;
}

.Browse-through-our-diverse-range-of-meticulously-crafted-garments-designed-to-bring-out-your-indivi {
  width: 100%;
  max-width: 545px;
  height: auto;
  margin: 32px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.Shop-Now {
  width: 75px;
  height: 22px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}

.mainButton {
  width: 210px;
  height: 52px;
  border-radius: 62px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Frame-14 {
  width: 210px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 62px;
  background-color: #000;
  color: #fff;
  margin-bottom: 48px;
}

.Frame-55 {
  width: 141px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.countSpan {
  width: 107px;
  height: 54px;
  flex-grow: 0;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.International-Brands {
  width: 141px;
  height: 22px;
  flex-grow: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.Line-9 {
  width: 1px;
  align-self: stretch;
  flex-grow: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.allBlockCount {
  display: flex;
}

.blockCount {
  margin-right: 25px;
  margin-left: 25px;
}

.brandBackground {
  height: 122px;
  background-color: black;
  margin-bottom: 72px;
  margin-left: 40px;
}

.brandLocation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.brandImg {
  margin-top: 44px;
}

.versage {
  width: 166px;
}

.zara {
  width: 91px;
}

.gucci {
  width: 156px;
}

.prada {
  width: 194px;
}

.calvinKlein {
  width: 206px;
}

.SHOPCO__center {
  display: flex;
  justify-content: center;
  font-family: "Integral CF Bold";
  margin-bottom: 55px;
}

.SHOPCO__large {
  font-size: 48px;
}

.cardPanel {
  display: flex;
  justify-content: space-around;
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.card {
  width: 295px;
  margin-bottom: 16px;
}

.square {
  border-radius: 20px;
}

.ratingAndStars {
  display: flex;
  align-items: center;
}

.pRating {
  margin-left: 13px;
}

.starImg {
  height: 18.5px;
}

.deskount {
  display: inline-flex;
  align-items: center;
}

strike {
  flex-grow: 0;
  font-family: Satoshi;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
}

.Frame-42 {
  width: 58px;
  height: 28px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);
}

.deskount__prochent {
  width: 31px;
  height: 16px;
  flex-grow: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f33;
}

.btnVievAll {
  background-color: white;
  border: 1px solid black;
  color: black;
  margin: 0;
}

.vievNowText {
  font-size: 16px;
}

.Line-4 {
  width: 1400px;
  height: 1px;
  margin: 63px 20px 64px;
  background-color: rgba(0, 0, 0, 0.1);
}

.lineGorizontal {
  margin: 0;
  margin-bottom: 30px;
}

.m0 {
  margin: 0;
}

.Frame-60 {
  width: 1239px;
  height: 866px;
  border-radius: 40px;
  background-color: #f0f0f0;
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}

.marginSpan {
  margin-top: 70px;
}

.h1MarginBottom {
  margin-bottom: 64px;
}

.cardMain {
  margin: 0 64px;
}

.blockClothes {
  width: 1111px;
  display: flex;
  margin-bottom: 20px;
}

.blockClothesMin {
  height: 289px;
  border-radius: 20px;
  margin: 0 20px;
}

.blockClothesMax {
  height: 289px;
  border-radius: 20px;
}

.blockAlign {
  width: 1239px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.OUR-HAPPY-CUSTOMERS {
  width: 654px;
  height: 58px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.arrowLeft {
  margin-right: 18.6px;
}

.Frame-22 {
  width: 400px;
  display: block;
  margin: 40px 18px 80px 20px;
  padding: 28px 32px;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.ratingCard {
  width: 1239px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.Sarah-M {
  margin-top: 19px;
  flex-grow: 0;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 12px;
}

.Sarah-M::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-image: url("/icon/accept.png");
  background-size: cover;
  vertical-align: bottom;
}

.mbStars {
  margin-bottom: 19px;
}

.description {
  height: 88px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.Frame-45 {
  width: 1140px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 36px 32px;
  border-radius: 20px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.STAY-UPTO-DATE-ABOUT-OUR-LATEST-OFFERS {
  width: 551px;
  height: 94px;
  flex-grow: 0;
  font-family: "Integral CF Bold";
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 30px;
}

.BlockMail {
  display: block;
  width: 450px;
}

.mbBlockMain {
  margin-bottom: 14px;
}

.Subscribe-to-Newsletter {
  width: 200px;
  height: 22px;
  flex-grow: 0;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.alignFrame3Email {
  width: 349px;
  height: 48px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-left: 17.9px;
  border-radius: 62px;
  background-color: #fff;
}

.alignFrame3Subscribe {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.Enter-your-email-address {
  width: 200px;
  height: 22px;
  flex-grow: 0;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 2px;
}

.Frame-52 {
  width: 1240px;
  height: 177px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 49px;
}

.Frame-51 {
  width: 248px;
  height: 177px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.gap {
  gap: 25px;
  margin-right: 80px;
}

.SHOPCO {
  height: 23px;
  flex-grow: 0;
  font-size: 33.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.We-have-clothes-that-suits-your-style-and-which-youre-proud-to-wear-From-women-to-men {
  width: 248px;
  height: 66px;
  flex-grow: 0;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.HELP-MENU {
  width: 98px;
  height: 18px;
  flex-grow: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 3px;
  text-align: left;
  color: #000;
}

.About-Features-Works {
  flex-grow: 0;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

footer {
  display: flex;
  margin: 0 auto;
  width: 1240px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

.C {
  width: 269px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}