@charset "UTF-8";
@import url("https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h3 {
  margin: 0;
  margin-top: 16px;
}

h2 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  margin: 34px auto 24px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.SHOPCO {
  font-family: "Integral CF Bold";
  font-size: 32px;
  font-weight: bold;
  color: #000;
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.header__button {
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding: 0 24px;
}

.Frame-2 {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.Frame-3 {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 17.9px;
  min-width: 400px;
  border-radius: 62px;
  background-color: #f0f0f0;
  flex-shrink: 0;
  width: 200px;
}

.Frame3-4 {
  display: flex;
}

.Vector {
  width: 20.3px;
  height: 20.3px;
  padding: 0 15.9px;
  cursor: pointer;
}

.Frame-3__lupa {
  padding-right: 13.9px;
}

.Frame-4 {
  flex-grow: 0;
  width: 20%;
  padding: 1.9px 1.9px 1.9px 0;
  display: flex;
  align-items: center;
}

.Search-for-products {
  height: 100%;
  width: 100%;
  max-width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Satoshi";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  box-sizing: border-box;
}

/* MAIN секция */
.background-wrapper {
  background-color: #f2f0f1;
}

.Rectangle-2__info {
  width: 100%;
  max-width: 577px;
  margin-top: 80px;
  padding: 0 20px;
  margin-bottom: 116px;
}

.Rectangle-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.FIND-CLOTHES-THAT-MATCHES-YOUR-STYLE {
  font-family: "Integral CF Bold";
  font-size: 64px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 32px;
}

.description-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 545px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rectangle-2__manAndWoman {
  width: 100%;
  max-width: 580px;
}

.Browse-through-our-diverse-range-of-meticulously-crafted-garments-designed-to-bring-out-your-indivi {
  width: 100%;
  max-width: 545px;
  height: auto;
  margin: 32px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.Shop-Now {
  width: 75px;
  height: 22px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}

.mainButton {
  width: 210px;
  height: 52px;
  border-radius: 62px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Frame-14 {
  width: 210px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 62px;
  background-color: #000;
  color: #fff;
  margin-bottom: 48px;
}

.Frame-55 {
  width: 141px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.countSpan {
  width: 107px;
  height: 54px;
  flex-grow: 0;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.International-Brands {
  width: 141px;
  height: 22px;
  flex-grow: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.Line-9 {
  width: 1px;
  align-self: stretch;
  flex-grow: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.allBlockCount {
  display: flex;
}

.blockCount {
  margin-right: 25px;
  margin-left: 25px;
}

.brandBackground {
  height: 122px;
  background-color: black;
  margin-bottom: 72px;
}

.brandLocation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.brandImg {
  margin-top: 44px;
}

.versage {
  width: 166px;
}

.zara {
  width: 91px;
}

.gucci {
  width: 156px;
}

.prada {
  width: 194px;
}

.calvinKlein {
  width: 206px;
}

.SHOPCO__center {
  display: flex;
  justify-content: center;
  font-family: "Integral CF Bold";
  margin-bottom: 55px;
}

.SHOPCO__large {
  font-size: 48px;
}

.cardPanel {
  display: flex;
  justify-content: space-around;
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.card {
  width: 295px;
  margin-bottom: 16px;
}

.square {
  border-radius: 20px;
}

.ratingAndStars {
  display: flex;
  align-items: center;
}

.pRating {
  margin-left: 13px;
}

.starImg {
  height: 18.5px;
}

.deskount {
  display: inline-flex;
  align-items: center;
}

strike {
  flex-grow: 0;
  font-family: Satoshi;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
}

.Frame-42 {
  width: 58px;
  height: 28px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);
}

.deskount__prochent {
  width: 31px;
  height: 16px;
  flex-grow: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f33;
}

.btnVievAll {
  background-color: white;
  border: 1px solid black;
  color: black;
  margin: 0;
}

.vievNowText {
  font-size: 16px;
}

.Line-4 {
  width: 1400px;
  height: 1px;
  margin: 63px 20px 64px;
  background-color: rgba(0, 0, 0, 0.1);
}

.lineGorizontal {
  margin: 0;
}